body{

margin:0;
padding:15px;

background:#0b0b0f;

font-family:Arial;

color:white;

overflow-x:hidden;

}

.bg{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
radial-gradient(
circle at top,
#301060,
#0b0b0f 60%
);

z-index:-1;

}

.top{

background:rgba(20,20,30,0.95);

backdrop-filter:blur(10px);

padding:15px;

border-radius:25px;

border:1px solid #7c3aed;

box-shadow:
0 0 25px rgba(124,58,237,0.4);

}

.profile{

display:flex;

align-items:center;

gap:15px;

}

.profile img{

width:75px;
height:75px;

border-radius:50%;

border:3px solid #7c3aed;

box-shadow:
0 0 20px #7c3aed;

}

.currencies{

display:flex;

justify-content:space-around;

margin-top:15px;

background:#111;

padding:12px;

border-radius:18px;

font-weight:bold;

}

.enemy{

margin-top:20px;

background:rgba(20,20,30,0.95);

padding:20px;

border-radius:25px;

text-align:center;

border:1px solid #ff3b3b;

box-shadow:
0 0 25px rgba(255,0,0,0.3);

animation:pulse 2s infinite;

}

.enemyName{

font-size:28px;
font-weight:bold;

margin-bottom:15px;

}

.hpbar{

width:100%;
height:18px;

background:#222;

border-radius:20px;

overflow:hidden;

}

.hpfill{

height:100%;

width:100%;

background:
linear-gradient(
90deg,
#ff0000,
#ff5555
);

transition:0.3s;

}

.buttons{

display:flex;

gap:12px;

margin-top:20px;

}

button{

flex:1;

padding:18px;

border:none;

border-radius:20px;

font-size:18px;

font-weight:bold;

background:
linear-gradient(
45deg,
#7c3aed,
#9f67ff
);

color:white;

box-shadow:
0 0 20px rgba(124,58,237,0.5);

transition:0.15s;

}

button:active{

transform:scale(0.95);

}

.inventory{

margin-top:20px;

background:rgba(20,20,30,0.95);

padding:18px;

border-radius:25px;

border:1px solid #444;

}

#drops{

margin-top:10px;

display:flex;

flex-direction:column;

gap:12px;

}

.item{

padding:14px;

border-radius:15px;

background:#111;

font-weight:bold;

animation:drop 0.3s ease;

}

.common{

border:2px solid #555;

}

.rare{

border:2px solid deepskyblue;

color:deepskyblue;

box-shadow:
0 0 12px deepskyblue;

}

.epic{

border:2px solid violet;

color:violet;

box-shadow:
0 0 16px violet;

}

.legendary{

border:2px solid gold;

color:gold;

box-shadow:
0 0 25px gold;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.02);
}

100%{
transform:scale(1);
}

}

@keyframes drop{

from{

opacity:0;

transform:
translateY(-15px);

}

to{

opacity:1;

transform:
translateY(0);

}

}
