body{

margin:0;
padding:15px;

background:#0f0f0f;

font-family:Arial;

color:white;

}

.top{

background:#1a1a1a;

padding:15px;

border-radius:20px;

}

.profile{

display:flex;

align-items:center;

gap:15px;

}

.profile img{

width:70px;
height:70px;

border-radius:50%;

border:3px solid #7c3aed;

}

.currencies{

display:flex;

justify-content:space-around;

margin-top:15px;

background:#111;

padding:10px;

border-radius:15px;

}

.enemy{

margin-top:20px;

background:#1a1a1a;

padding:15px;

border-radius:20px;

font-size:20px;

text-align:center;

}

.buttons{

display:flex;

gap:10px;

margin-top:20px;

}

button{

flex:1;

padding:18px;

border:none;

border-radius:18px;

font-size:18px;

font-weight:bold;

background:#7c3aed;

color:white;

}

.inventory{

margin-top:20px;

background:#1a1a1a;

padding:15px;

border-radius:20px;

}

#drops{

margin-top:10px;

display:flex;

flex-direction:column;

gap:10px;

}

.item{

padding:12px;

border-radius:12px;

background:#111;

font-weight:bold;

}

.legendary{

border:2px solid gold;
color:gold;

}

.epic{

border:2px solid violet;
color:violet;

}

.rare{

border:2px solid deepskyblue;
color:deepskyblue;

}

.common{

border:2px solid #444;
color:white;

}
