body{

margin:0;
padding:15px;

background:#07070b;

font-family:Arial;

color:white;

overflow-x:hidden;

}

.bg{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
radial-gradient(
circle at top,
#3b0764,
#07070b 60%
);

z-index:-1;

}

.top,
.enemy,
.inventory,
.equipment{

background:
rgba(20,20,30,0.95);

padding:18px;

border-radius:25px;

margin-bottom:18px;

border:1px solid #7c3aed;

box-shadow:
0 0 20px rgba(124,58,237,0.4);

}

.profile{

display:flex;

gap:15px;

align-items:center;

}

.profile img{

width:80px;
height:80px;

border-radius:50%;

border:3px solid #7c3aed;

box-shadow:
0 0 20px #7c3aed;

}

.currencies{

display:flex;

justify-content:space-around;

margin-top:15px;

background:#111;

padding:12px;

border-radius:18px;

font-weight:bold;

}

.equipGrid{

display:grid;

grid-template-columns:
1fr 1fr;

gap:12px;

margin-top:15px;

}

.slot{

background:#111;

padding:15px;

border-radius:18px;

text-align:center;

font-weight:bold;

min-height:70px;

}

.enemy{

text-align:center;

animation:pulse 2s infinite;

}

.hpbar{

height:18px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:10px;

}

.hpfill{

height:100%;

width:100%;

background:
linear-gradient(
90deg,
red,
orange
);

transition:0.3s;

}

.buttons{

display:flex;

gap:10px;

margin-bottom:12px;

}

button{

flex:1;

padding:18px;

border:none;

border-radius:18px;

background:
linear-gradient(
45deg,
#7c3aed,
#9333ea
);

color:white;

font-size:16px;

font-weight:bold;

box-shadow:
0 0 20px rgba(124,58,237,0.4);

}

button:active{

transform:scale(0.95);

}

.inventory{

position:fixed;

left:0;
bottom:0;

width:100%;

height:75%;

overflow-y:auto;

border-radius:25px 25px 0 0;

z-index:999;

}

.hidden{

display:none;

}

.invTop{

display:flex;

justify-content:space-between;

align-items:center;

}

#drops{

display:flex;

flex-direction:column;

gap:12px;

padding-bottom:120px;

}

.item{

background:#111;

padding:15px;

border-radius:18px;

animation:drop 0.2s ease;

}

.itemButtons{

display:flex;

gap:8px;

margin-top:10px;

}

.smallBtn{

padding:10px;

font-size:13px;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.01);
}

100%{
transform:scale(1);
}

}

@keyframes drop{

from{

opacity:0;

transform:
translateY(-15px);

}

to{

opacity:1;

transform:
translateY(0);

}

}
